.Userlist-list{
    width: 100%;
    background: var(--primary-text-color);
    height: 340px;
    border-radius: 20px;
    padding: 20px 15px;
    box-sizing: border-box;
    overflow-y: scroll;
    margin-left: -5px;
}

::-webkit-scrollbar{
    width: 0;
}

.Userlist-header h3{
    font-family: var(--primary-font);
    font-size: 20px;
    font-weight: 600;
    color: var(--black-color);
}

.Userlist-items-wrapper{
    margin-top: 25px;
    padding-bottom: 15px;
    border-bottom: 1px solid #f0f0f0;
}

.Userlist-items-wrapper:last-child{
    border-bottom: none;
}

/* .Userlist-item{
    display: flex;
    justify-content: space-between;
} */

.Userlist-img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: greenyellow;
}

.Userlist-img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.Userlist-name {
    margin-left: 106px;
    margin-top: -71px;
}

.Userlist-name h4{
    font-family: var(--primary-font);
    font-size: 16px;
    font-weight: 500;
    color: var(--black-color);
}

.Userlist-list-btn {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-left: 49px;
    margin-top: 8px;
}

.Userlist-list-btn button{
    width: 100%;
    border: none;
    cursor: pointer;
    background: var(--btn-color);
    padding: 8px 0;
    color: var(--white-color);
    border-radius: 5px;
    font-family: var(--primary-font);
    font-size: 14px;
    font-weight: 500;
    margin: 10px;
}

.Userlist-list-btn button:last-child{
    background: red;
}

.cancelbtn h5{
    font-family: var(--primary-font);
    font-size: 14px;
    font-weight: 400;
    color: var(--black-color);
    margin-left: 10px;
}

.cancelbtn {
    margin-left: 49px;
    width: 79%;
}

.frndbtn{
    background: var(--btn-color) !important;
    text-transform: uppercase;
}